<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{pageName}}{% endblock %}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anybody:wght@100..900&family=Viga&display=swap"
 rel="stylesheet">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
   <link rel="stylesheet" {{ asset('assets/style/app.css') }}> 
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
