
  
   {% block stylesheets %}

    {% endblock %}

{% block nav  %}
<div class="navbar">

<<<<<<< HEAD
                        <a href="/"><h3 > ECAGH <h3/></a>
                        <div  class="menu-item">
                             <!--   <a href="#"><li > Mission & Chantier </li></a>
                                <a href="#"><li > A propos</li></a>
                                -->
=======
                        <h3> ECAGH<h3/>
                        <div  class="menu-item">
                                <a href="#"><li > Mission & Chantier </li></a>
                                <a href="#"><li > A propos</li></a>
>>>>>>> 6048c15717de7050c491dea1b61beb01b674aa99
                                     <a href="/login"><li > Se connecter</li></a>
                                <a href="https://www.leetchi.com/fr/c/soutenir-ecagh-1888973?utm_source=copylink&utm_medium=social_sharing"target="_blank"><li class="red_cta"> Faire un don </li></a>
                        
                        </div>
                                <div id="menuBurger">
                                        <a ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg></a>
                                </div>

                                
 </div>

                        <div id="hiden_menu">
                                        <a href="#"><li > Accueil </li></a>
                                        <a href="#"><li > Mission & Chantier </li></a>
                                        <a href="#"><li > A propos</li></a>
                                          <a href="/login"><li > Se connecter</li></a>
                                        <a href="https://www.leetchi.com/fr/c/soutenir-ecagh-1888973?utm_source=copylink&utm_medium=social_sharing"target="_blank"><li> Faire un don </li></a>
                                </div>


 
{% endblock %}